.TIME_TRACKING
  &__root
    position: absolute
    z-index: 99
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    background-color: rgba(black, 0.8)

  &__content
    flex: 1
    background-color: "red"
